.navButton {
  background: #d2d063;
  display: inline-block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border: none;
  margin-bottom: 0;
  padding-top: 12px;
  width: 12rem;
  height: 3rem;

  margin: 0 1rem;

  color: white;
  font-size: 1.8rem;
  
}
