.navButton {
  background: #d2d063;
  border: none;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 1.25rem;
    margin: 0 1rem;
    padding-top: .5rem;
    transition: .5s;
    width: 12rem;
}

.navButton:hover {
  background: rgb(211, 166, 19);
  z-index: 1;
}
