.welcomeDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 80vh;
  /* background: rgb(211, 166, 19); */
  
  background: url('../../assets/laboratory.png');
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
}

.greetingDiv {
  /* width: 50vw;
  margin: 8% 25% 8% 5%;
  background: white;
  border: 6px solid #d2d063;
  border-radius: 3rem; */
}

h3 {
  color: #d2d063;
  margin: 3% 10%;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
}

.welcomeDiv p {
  margin: 0 10%;
  font-size: 1.2rem;
  line-height: 1.2em;
}

.buttonToTheGames {
  position: absolute;
  bottom: 11%;
  left: 6%;
  background: rgb(69, 69, 179);
  border-radius: 12px;
  border: none;
  color: white;
  width: 35%;
  height: 3.5rem;
  cursor: pointer;

  opacity: 0.9;

  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0;
}

.buttonToAboutUs {
  position: absolute;
  bottom: 11%;
  right: 12%;
  background: transparent;
  border-radius: 12px;
  border: none;
  color: rgb(69, 69, 179);
  width: 35%;
  height: 3.5rem;
  cursor: pointer;

  opacity: 0.9;

  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0;
}

.robotDiv {
  padding-top: 5vh;
  margin-right: 7vw;
}

.robot {
  width: 85%;
  margin-top: 5vh;
  margin-right: 20vw;
}
