.welcomeDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100%;
  height: 80vh;
  background: rgb(211, 166, 19);
}

.greetingDiv {
  width: 50vw;
  margin: 8% 25% 8% 20%;
  background: white;
  border: 6px solid #d2d063;
  border-radius: 3rem;
  
}

.robotDiv {
}

.robot {
  width: 65%;
  margin-top: 5vh;
  margin-right: 25vw;
}
