.welcomeDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  height: 100vh;
  margin: 0 .2rem;
  border-bottom: solid darkslategray 1rem;
  background: url("../../assets/laboratoryNew.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  /* overflow: hidden; */
  transition: 2s;
}

/* .welcomeText{
display: grid;
grid-template-rows: auto;
} */

.aboutUs {
  color: darkorange;
  margin: 0;
  font-weight: 600;
}


.welcomeTitle {
  color: #d2d063;
  margin: 0 0 .5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
}

.basicText{
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5em;
  padding: .5rem 0rem;
}

.buttonRow{
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;;

}

.buttonToTheGames {
  background: rgb(69, 69, 179);
  border-radius: 10px;
  border: none;
  color: white;
  /* width: 35%; */
  /* height: 3.5rem; */
  cursor: pointer;
  /* opacity: 0.9; */
  font-size: 110%;
  font-weight: 900;
  letter-spacing: 0;
  white-space: nowrap;
  padding: 1rem 2rem;
}

.discoverUs{
  display: flex;
  padding-left: 1rem;}

.buttonToAboutUs {
  background: transparent;
  border-radius: 12px;
  border: none;
  color: rgb(69, 69, 179);
  /* width: 66%; */
  height: 3.5rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 110%;
  font-weight: 900;
  letter-spacing: 0;
  white-space: nowrap;
}

.robotDiv {
  padding-top: 5vh;
  margin-right: 7vw;
}

.robot {
  width: 85%;
  margin-top: 5vh;
  margin-right: 20vw;
}

.rocketTrail {
  position:relative;
  bottom: 35vh;
  z-index: 0;
}

.invisible {
  display: none;
}
