.welcomeDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  height: 80vh;
  margin: 0 .2rem;
  border-bottom: solid darkslategray 1rem;
  background: url("../../assets/laboratory.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  /* overflow: hidden; */
  transition: 2s;
}

/* .welcomeText{
display: grid;
grid-template-rows: auto;
} */

.aboutUs {
  color: darkorange;
  margin: 0;
}


.welcomeTitle {
  color: #d2d063;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
}

.basicText{
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.2em;
}

.buttonRow{
  display: flex;
  justify-content: space-around;

}

.buttonToTheGames {
  background: rgb(69, 69, 179);
  border-radius: 12px;
  border: none;
  color: white;
  width: 35%;
  height: 3.5rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 120%;
  font-weight: 900;
  letter-spacing: 0;
}

.discoverUs{
  display: flex;
}

.buttonToAboutUs {
  background: transparent;
  border-radius: 12px;
  border: none;
  color: rgb(69, 69, 179);
  width: 66%;
  height: 3.5rem;
  cursor: pointer;

  opacity: 0.9;

  font-size: 120%;
  font-weight: 900;
  letter-spacing: 0;
}

.robotDiv {
  padding-top: 5vh;
  margin-right: 7vw;
}

.robot {
  width: 85%;
  margin-top: 5vh;
  margin-right: 20vw;
}

.rocketTrail {
  position:relative;
  bottom: 35vh;
  z-index: 0;
}

.invisible {
  display: none;
}
