.secondaryNavBar {
  position: absolute;
  top: 0;
  background: #d2d063;
  width: 100%;
  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
}

.innerContainer {
  display: flex;
  flex-direction: row;
  padding-left: 15%;
  border-bottom: solid .5rem #d2d063;
}
