

.secondaryNavBar {
    position: absolute;
    top: 0;
    background: #d2d063;
    width: 100%;
    transition: 1.5s cubic-bezier(0.4, 0, 0.4, 1);

}

.innerContainer {
    display: flex;
    flex-direction: row; 
    padding-left: 25%;
}
