.textBox {
  position: relative;
  width: 75%;
  margin: 15vh auto;
  border: 4px solid #d2d063;
  border-radius: 4rem;
  padding: 20px;
  text-align: left;
  font-weight: 700;
  background: white;
  font-family: arial;
  position: relative;
}


.left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 0px solid transparent;
  border-right: 65px solid #d2d063;
  border-top: 41px solid transparent;
  border-bottom: 39px solid transparent;
  left: -4rem;
  bottom: 5rem;
}

.left:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: -37px solid transparent;
  border-right: 54px solid #fff;
  border-top: 38px solid transparent;
  border-bottom: 40px solid transparent;
  left: -49px;
  bottom: 5rem;
}

.right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 80px solid #d2d063;
  border-right: 80px solid transparent;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  right: -10.2rem;
  top: 5rem;
}

.right:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 83px solid #fff;
  border-right: 5px solid transparent;
  border-top: 54px solid transparent;
  border-bottom: 64px solid transparent;
  right: -4.8rem;
  top: 5.25rem;
}
