
.textBox {
  background: white;
  border: 4px solid #d2d063;
  border-radius: 4rem;
  /* margin: 18vh 0 10vh 10vw; */
  padding: 2rem;
  position: relative;
  text-align: left;
  width: 80%;
  height: 80%;
  transition: 1s;
}

.left:before {
  border-bottom: 59px solid transparent;
  border-left: 37px solid transparent;
  border-right: 79px solid #d2d063;
  border-top: 52px solid transparent;
  content: "";
  position: absolute;
  left: -7.5rem;
  top: 5.35rem;
}

.left:after {
  border-bottom: 59px solid transparent;
  border-left: 37px solid transparent;
  border-right: 79px solid #fff;
  border-top: 52px solid transparent;
  content: "";
  left: -7.125rem;
  top: 5.35rem;
  position: absolute;
}

.right:before {
  border-bottom: 59px solid transparent;
  border-left: 77px solid #d2d063;
  border-right: 3px solid transparent;
  border-top: 52px solid transparent;
  content: "";
  position: absolute;
  right: -5.25rem;
  top: 5.55rem;
}

.right:after {
  border-bottom: 59px solid transparent;
  border-left: 77px solid #fff;
  border-right: 3px solid transparent;
  border-top: 52px solid transparent;
  content: "";
  height: 0px;
  position: absolute;
  right: -4.8rem;
  top: 5.55rem;
}
