.textBox {
  background: white;
  border: 4px solid #d2d063;
  border-radius: 4rem;
  margin: 15vh auto;
  padding: 2rem;
  position: relative;
  text-align: left;
  width: 75%;
}

.welcomeText {
  display: grid;
  grid-template-rows: auto;
}

.left:before {
  border-bottom: 64px solid transparent;
  border-left: -59px solid transparent;
  border-right: 83px solid #d2d063;
  border-top: 54px solid transparent;
  content: "";
  height: 3px;
  position: absolute;
  left: -5.4rem;
  top: 5rem;
}

.right:before {
  border-bottom: 64px solid transparent;
  border-left: 83px solid #d2d063;
  border-right: 5px solid transparent;
  border-top: 54px solid transparent;
  content: "";
  position: absolute;
  right: -5.5rem;
  top: 5.25rem;
  height: 3px;
}

.left:after {
  border-bottom: 59px solid transparent;
  border-left: -37px solid transparent;
  border-right: 79px solid #fff;
  border-top: 52px solid transparent;
  content: "";
  left: -79px;
  top: 5.35rem;
  position: absolute;
  width: 0px;
}

.right:after {
  border-bottom: 59px solid transparent;
  border-left: 77px solid #fff;
  border-right: -3px solid transparent;
  border-top: 52px solid transparent;
  content: "";
  height: 0px;
  position: absolute;
  right: -4.8rem;
  top: 5.55rem;
  width: 0px;
}
