.donatePanelDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 100vw;
  height: 100vh;
  /* margin: 0 0.2rem; */
  border-top: solid darkslategray 1rem;
  border-bottom: 8px solid #d2d063;

  background: url("../../assets/engineering.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 35%;
}

.textBox {
}

.izzyDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0;
}

.izzy {
  width: 250%;
}

/* h3 {
  color: #d2d063;
  margin: 0 10% 3% 10%;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
} */

.donateButton {
  position: absolute;
  bottom: 11%;
  left: 6%;
  background: rgb(69, 69, 179);
  border-radius: 12px;
  border: none;
  color: white;
  height: 3.5rem;
  cursor: pointer;
  opacity: 0.9;

  font-size: 1.5rem;
  font-weight: 900;
  letter-spacing: 0;
}

.getInvolved {
  color: darkorange;
  margin: 0;
}

.buttonText {
  padding: 0 1rem;
}
