.gameSceneContainer {
  /* width: 25%; */
    padding: 2rem;
}

.sceneImage {
  width: 80%;
  border-radius: 2.5rem;
  border: solid 4px rgb(211, 166, 19);
}

.gameTitle {
  color: rgb(218, 141, 47);
}
