.robotDiv {
  position: relative;
  z-index: 1;
  
  /* transition: 2s cubic-bezier(0.2, 0.3, 0.4, .5); */
  transition: 1s ease-in;

}

.launchingRobot {
  transform-origin: bottom;
  transition: transform 0.4s ease;
}


