.header {
  /* display: flex;
  flex-direction: row; */
  position: relative;
  width: 100vw;
  height: 25vh;
  background: lightseagreen;
  border-bottom: 8px solid #d2d063;
}

.cloudsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../assets/edheadsClouds.svg");
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: 25% 30%;
}

.logo {
  width: 15%;
  margin-top: 5vh;
  margin-left: 5vw;
}
