.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  background: lightseagreen;
  border-bottom: 10px solid #d2d063;
}

.cloudsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-image: url("../../assets/edheadsClouds.svg");
  background-size: 160% 375%;
  background-repeat: no-repeat;
  background-position: -40vw -20vh;
}

.logo {
  width: 15%;
  margin-top: 5vh;
  margin-left: 5vw;
}

