.signUpDiv {
  /* display: grid;
  grid-template-columns: 1fr 2fr; */
  width: 100vw;
  height: 100vh;
  /* margin: 0 0.2rem; */
  border-top: solid darkslategray 1rem;
  border-bottom: solid darkslategray 1rem;

  background: url("../../assets/engineering-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-position: 0 35%; */
}

.signUpContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  position: absolute;
  bottom: 0;
  width: 80%;
}

.paulStemDiv {
transform: translate(15%, 7%);
}

.aboutUs {
  color: darkorange;
  margin: 0;
  font-weight: 600;
}

.welcomeTitle {
  color: #d2d063;
  margin: 0 0 0.5rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0;
}

.basicText {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5em;
  padding: 0.5rem 0rem;
}

.buttonRow {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.buttonToTheGames {
  background: rgb(69, 69, 179);
  border-radius: 10px;
  border: none;
  color: white;
  /* width: 35%; */
  /* height: 3.5rem; */
  cursor: pointer;
  /* opacity: 0.9; */
  font-size: 110%;
  font-weight: 900;
  letter-spacing: 0;
  white-space: nowrap;
  padding: 1rem 2rem;
}

.discoverUs {
  display: flex;
  padding-left: 1rem;
}

.buttonToAboutUs {
  background: transparent;
  border-radius: 12px;
  border: none;
  color: rgb(69, 69, 179);
  /* width: 66%; */
  height: 3.5rem;
  cursor: pointer;
  opacity: 0.9;
  font-size: 110%;
  font-weight: 900;
  letter-spacing: 0;
  white-space: nowrap;
}

.robotDiv {
  padding-top: 5vh;
  margin-right: 7vw;
}

.robot {
  width: 85%;
  margin-top: 5vh;
  margin-right: 20vw;
}
