.sideBar {
  position: fixed;
  display: flex;
  right: 10vw;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background: #d2d063;

  transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
  width: 23vw;
  z-index: 1;
}

.menuContainer {
  margin: 30vh 2rem 0 2rem;
  width: 90%;
}

.newsHeader {
  color: #4a86c2;
  font-weight: 900;
  font-size: 2rem;
  padding: 1rem 2rem 0 2rem;
}

.newsSummaryText {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  word-wrap: break-word;
  padding: 1rem;
  border-bottom: dotted 0.5rem white;

}

.adOrVideoContainer {
  background: #666666;
  width: 100%;
  height: 40%;
  margin: 10% 0 0 0;
  padding: 0;
}
