.sideBar {
    position: fixed;
    display: flex;
    top: 0;
    flex-direction: column;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100%;
    background: #d2d063;
    padding: 2rem;
    /* transform: translateX(70vw); */
    transition: 1.2s cubic-bezier(0.4, 0, 0.4, 1);
    width: 23vw;
    z-index: 1;
  }
  
  .menuContainer {
    margin-top: 30vh;
    width: 100%;
  }

  .newsHeader {
      color: #4a86c2;
      font-weight: 900;
      font-size: 2rem;
  }

  .newsSummaryText {
      color: white;
      font-size: 1.4rem;
      font-weight: 600;
      letter-spacing: 1px;
      word-wrap:break-word;
  }

  .adOrVideo {
      background: #666666;
      width: 100%;
      height: 70%;
      margin-top: 15%;
  }
  