.navItemDiv {
  padding: 0rem .125rem;
  height: 50%;
  margin: 0 2rem;
  cursor: pointer;
}

/* .navItemDiv:hover {
  border-bottom: groove 5px wheat;

} */

.highlighted {
  border-bottom: solid 3px white;
}

.navBarItem {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

.navBarItem:hover {
  color: rgb(48, 116, 17);
}

.highlightedText {
  text-decoration: underline;
}