.navItemDiv {
  /* display: inline-block; */
  /* align-items: center;
    justify-content: center; */

  padding: 0 3rem;
  height: 100%;
}

.hovered {
  background: white;
}

.navBarItem {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}

.hoveredText {
  color: #d2d063;
}
