.navItemDiv {
  padding: 0.5rem 3rem 0.5rem 3rem;
  height: 50%;
  cursor: pointer;
}

/* .navItemDiv:hover {
  border-bottom: groove 5px wheat;

} */

.highlighted {
  border-bottom: solid 3px white;
}

.navBarItem {
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0 0 0;
}

.navBarItem:hover {
  color: rgb(48, 116, 17);
}
