.rocketCloudDiv {
  position: absolute;
  background-image: url("../../assets/rocketClouds.png");
  background-repeat: no-repeat;
  background-position: 5% 30%;
  width: 100vw;
  height: 100vh;
  transition: 2s;
}
